<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IUWindowsForms.Properties.Settings.MateriasConnectionString"
            connectionString="Data Source=DESKTOP-BVI966H\SQLEXPRESS;Initial Catalog=Materias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>